
<div class="row">
    <div class="col-md-6 offset-3">
        <h2>Order Compeleted Successfully</h2>
        <p>
            you can check all your order in the order section of your profile
        </p>
        <hr />
        <p>Thank you !</p>
    </div> 

</div>