<div class="row text-center">

    <div class="col-md-6 offset-3">
            <h1 class="text-info">Page Not Found</h1>
            <a class="btn btn-outline-success" asp-action="Index" asp-controller="Movies">Home</a>

    </div>
</div>
