
<div class="row">
    <div class="col-md-6 offset-3">
        <h2>Register Compeleted Successfully</h2>
        <p>
            You Can Log in With Your credentials 
        </p>
        <hr />
        <p>Thank you !</p>
    </div> 

</div>